<h2> local links </h2>
<ul>
  <li>
    <%= link_to 'Town Clerk', 'http://town.franklin.ma.us/Pages/FranklinMA_Clerk/index', target: '_blank' %>: Get your dog licensed at the Town Clerk's office
  </li>
</ul>
<h2> friends </h2>
<ul>
  <li>
    <%= link_to 'CLIPARTBEST.com', 'http://www.clipartbest.com', target: '_blank' %>: Where we found the blue pawprint
  </li>
</ul>
