/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.logo {
  /*position: fixed;
  top: 5px;
  left: 5px;*/
  float: left;
  margin-left: 5px;
  margin-top: 5px;
}

nav {
  float: left;
  //background-color: lightblue;
  width: 155px;
  font-family: 'Indie Flower', sans-serif;

  ul {
    list-style: none;
    margin-left: 0;
  }

  a {
    text-decoration: none;
    font-family: 'Indie Flower', sans-serif;
    font-size: 18px;
    line-height: 25px;
  }

  li {
    font-family: 'Indie Flower', sans-serif;
    font-size: 18px;
    line-height: 25px;
  }
}

main {
  border-top-left-radius: 50px;
  border-left: 1px solid lightblue;
  border-top: 1px solid lightblue;
  border-bottom: none;
  border-right: none;
  background-color: white;
  height: 100%;
  margin-left: 155px;
  margin-bottom: 21px;
}

body {
  margin: 0;
  background-color: lightblue;
  font-family: 'Taviraj', serif;
}

header {
  //background-color: lightblue;
  width: 100%;
  padding: 10px 0 10px 0;
  height: 100px;
  font-family: 'Indie Flower', sans-serif;

  h1 {
    float: left;
  }

  ul {
    float: right;
    margin-top: 0;
    padding-top: 25px;

    li {
      display: inline;
      list-style: none;
      font-family: 'Indie Flower', sans-serif;

      a {
        text-decoration: none;
      }
    }
  }
}

footer {
  height: 21px;
    font-size: small;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: lightblue;

  }

a, a:visited {
  color: black;
}

a:hover {
  background: darkgray;
}


h1 {
  //text-align: center;
  margin: 0;
  padding-top: 25px;
  margin-left: 50px;
}

h2 {
  font-family: 'Indie Flower', sans-serif;
}

p, h2, table, form, .button {
  margin-left: 50px;
}

.button {
  padding: 5px 10px 5px 10px;
  border: 1px solid #aaa;
  border-top-color:#ddd;
  border-left-color:#ddd;
  border-radius:3px;
  width: 54px;
  margin-bottom: 10px;
  a {
    text-decoration: none;
    text-color: black;
  }
}

.button:hover {
  background-color: darkgray;
}

#logout, #current_user {
  font-size: 20px;
  font-weight: bold;
}

#logout {
  margin-left: 20px;
}

.link_thumb {
  display: inline;
  margin-left: 5px;
}

.form {
  margin-left: 50px;
  margin-top: 45px;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 20px;
}

.home_image, .gallery_image {
  border-radius: 5px;
  display: inline;
  vertical-align: top;
}
