// Place all the styles related to the Bios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.dog_details {
  float: left;
  width: 75%;

  p {
    width: 300px;
  }
}

.dog_div {

}

.separator {
  width: 110px;
  margin-left: 73px;
  margin-top: -15px;
}

#dogs {
  margin-top: 20px;
}

.dog_link img {
  width: 100px;
  height: 100px;
}

.dog_thumbs {
  width: 25%;
  float: right;
  ul {
    margin-top: 5px;
    li {
      padding-left: 5px;
      list-style: none;
    }
  }
  .show_page_thumb {
    margin-left: 5px;
    padding-left: 0;
  }
}

.thumb {
  width: 100px;
  height: 100px;
  border: 1px solid darkgray;
  border-radius: 5px;
}

#image_chooser {
  height: 28px;
  line-height: 28px;
}

.pagination {
  margin-left: 33px;

  .current {
    color: darkgray;
  }
}

.gallery-list {
  margin: 33px 25px 25px 25px;
  padding-left: 25px;
  li {
    list-style: none;
    display: inline;
    div {
      padding: 5px;
      border: 1px solid darkgray;
      border-radius: 5px;
      display: inline-block;
      text-align: center;
      img {
        display: block;
        margin: auto
      }
    }
  }
}
