// Place all the styles related to the Bios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.dog_details {

}

.dog_thumbs {
  ul {
    padding-left: 0;
    margin-left: 5px;

    li {
      padding-left: 5px;
      list-style: none;
      display: inline;
    }
  }
}

.thumb {
  width: 100px;
  height: 100px;
  border: 1px solid darkgray;
  border-radius: 5px;
}

.gallery-list {
    li {
      list-style: none;
      display: inline;
      div {
        padding: 5px;
        padding-right: 0;
        border: 1px solid darkgray;
        border-radius: 5px;
        display: inline-block;
        text-align: center;
      }
    }
}
