// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.news_content_homepage {
  font-size: 1.1em;
  margin-left: 50px;
  max-width: 500px;
}

.news_separator {
  margin-left: 50px;
  max-width: 500px;
}

.news_details_homepage {
  font-size: 0.9em;
  margin-left: 55px;
  margin-bottom: 0.83em;
}

.news_header_homepage {
  margin-bottom: 0;
}

.homepage_news {
  
}
